<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnRisky="true"
	failOnWarning="true">
	<testsuites>
		<testsuite name="booking-foundation">
			<file>tests/BookingFoundationTest.php</file>
			<file>tests/BookingHoldTest.php</file>
			<file>tests/BookingMutationTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
