<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/MySQLIntegration/host-wordpress-bootstrap.php"
	colors="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnRisky="true"
	failOnWarning="true">
	<testsuites>
		<testsuite name="internal-booking-hold-concurrency">
			<file>tests/MySQLIntegration/InternalBookingHoldConcurrencyMySQLProof.php</file>
		</testsuite>
	</testsuites>
</phpunit>
