<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" failOnRisky="true" failOnWarning="true">
	<testsuites>
		<testsuite name="local-scene-unit">
			<file>tests/Unit/Core/LocalSceneDigestSystemTaskTest.php</file>
			<file>tests/Unit/Core/LocalSceneDigestTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
