/**
 * Calendar Page Enhancements
 *
 * Enhances dm-events calendar block with ExtraChill theme styling.
 * Used on events.extrachill.com homepage.
 *
 * @package ExtraChillEvents
 * @since 1.0.0
 */

/* Calendar enhancements go here as needed */
